.header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  border: 1px solid black;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items:center;
  width:70%;
  margin:5px;
}

.nav {
  display:inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin:5px;
}

a {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: aquamarine;
  margin-left: 10px;
}

.main {
  display: flex;
  flex-display: column;
  border: 1px solid black;
  margin: 10px 0;
}

.large {
  width: 630px;
  border: 1px solid black;
  margin: 10px;
}

.medium {
  width: 300px;
  border: 1px solid black;
  margin: 10px;
}

.small {
  width: 240px;
  border: 1px solid black;
  margin: 10px;
}

.mother {
  border: 1px solid black;
  margin: 1px;
}

.monument {
  border: 1px solid black;
  margin: 1px;
}

.orca {
  border: 1px solid black;
  margin: 1px;
}

.earth {
  border: 1px solid black;
  margin: 1px;
}

.burger {
  border: 1px solid black;
  margin: 1px;
}

.research {
  border: 1px solid black;
  margin: 1px;
}

.FBI {
  border: 1px solid black;
  margin: 1px;
}

.cats {
  border: 1px solid black;
  margin: 1px;
}

.brooklyn {
  border: 1px solid black;
  margin: 1px;
}

.news {
  border: 1px solid black;
  margin: 1px;
}
