.header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  margin: 0;
  position: fixed;
  border-bottom: 1px solid black;
  height:81px;
  background-color: white;
  z-index: 3;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items:center;
  width:70%;
  margin:5px;
}

.nav {
  display:inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin:5px;
}

a {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: aquamarine;
  margin-left: 10px;
}

.main {
  display: flex;
  flex-display: column;
  justify-content: space-between;
  margin: 10px 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  position:absolute;
  top:81px;
  height:1450px;

}

.large {
  width: 630px;
  display:inline-flex;
  flex-direction: row;
  flex-flow: column wrap;
  align-content: center;
  margin: 5px 5px 5px 5px;
}

.medium {
  width: 300px;
  margin: 10px;
  display:inline-flex;
  flex-direction: row;
  flex-flow: column wrap;
  margin: 5px 5px 5px 20px;
}

.small {
  width: 240px;
  display:inline-flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-content: center;
  margin: 5px 5px 5px 5px;
}

.mother {
  margin: 1px 1px 1px 10px;
  width:630px;
  height:300px;
  background-image: url("../images/MainStory.png");
  display:flex;
  flex-direction: row-reverse;
}

.monument {
  margin: 1px 0 0 10px;
  height:162px;
  margin: 15px 0;
}

.earth {
  margin: 5px;
  height: 300px;
  background-image: url("../images/Fall.png");
  width:50%;
}

.orca {
  margin: 5px 10px;
  width:45%;
  height: 250px;
}

.burger {
  margin: 5px;
  width:48%;
  height: 250px;
}


.research {
  margin: 5px;
  height: 300px;
  background-image: url("../images/Hipster.png");
  width: 50%;
}

.FBI {
  margin: 1px;
}

.cats {
  background-image: url("../images/Cats.png");
  height: 300px;
  margin: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.brooklyn {
  margin: 1px;
}

.news {
  margin: 1px;
}

.medium h6 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.large .mother h6 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0 50px 0 0;
}

.large h6 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0 0 0 0;
}

.large .halfs h6 {
  text-align: center;
}

.halfs {
  display: flex;
  flex-flow: column wrap;
  height: 650px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 41px;
}

.news {
  background-color: WhiteSmoke;
  font-size: 12px;
  color: DimGray;
}

.news p {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 15px 20px;
}

.cookie{
  height: 240px;
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width:100%;
  height:325px;
}

h5 {
 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
 display: inline-flex;
}

footer a {
  display: inline-flex;
  justify-content: space-around;
  margin: 0 5px;
}

#copyright {
  display: block;
}

#ultimo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
